{% extends 'base.html' %}  
{% block content %}

  {% load cart %}
<div class="container bg-white bg-opacity-25 shadow-sm d-fluid ">
    <div class="contain text-center w-max ">
      <div class="row mx-auto "   >
        <div class="dropdown text-center mb-3">
          <input placeholder="Select Any Catogery" type="search" class="btn bg-white border-success btn-primary mb-3 mt-4 rounded w-75  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:1px;">
        </input>
          <ul class="dropdown-menu dropdown-menu-white" >
            <li><a href="?"  class="dropdown-item w-75 text-center " >All Items</a></li>
            <hr>
            {% for i in catogereis %}
            <li><a href="?categories={{i.id}}"  class="dropdown-item " >{{i.id}} . {{i.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
       </div>
    </div>


    
  
    <div class="container  ">
      <div class="row">
            {% for i in product %}
            <div class=" col-lg-3 col-6 mb-0 p-1 p-sm-3 ">
              <div class="mb-2 card " id="{{i.id}}" width="8rem"  >
                <img src="{{i.image.url}}" class="card-img-top mx-auto m-0 p-0 m-3 img-fluid  w-75" alt="..." > 
               <hr class="p-0">
               <h5 class="  card-title  mt-1 ">{{i.name}}</h5>
                <div class="card-body ">
                    <p class="small"><del><strong><span>&#8377;</span>{{i.discount}}</del></strong>&emsp;<b class="text-success">Discountet</b></p> 
                    <p class="small">
                      <h5><span>&#8377;</span>{{i.price}}&emsp;<del class=" disabled text-secondary">
                    </p>
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                </div>



                <div class="card-footer border-0 border bg-white  ">
                  {% if i|check_cart:request.session.cart %}
                  <div class="row no-gutters p-0" >

                    <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                      {% csrf_token %}
                      <input name="product" hidden type="text" value='{{i.id}}' />
                      <input type="text" hidden name="remove"  value="true">                       
                      <input type="submit"  value="-" class=" btn  w-50 btn-success text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">                       
                    </form>

                    <div class="text-center col pt-2 "><stronge>{{i|check_count:request.session.cart }}</stronge></div>
                    
                    <form action="/product/#{{i.id}}" class="col-2 p-0" method="post">
                      {% csrf_token %}
                      <input name="product" hidden type="text" value='{{i.id}}' />
                      <input type="submit" value="+" class=" btn  w-50  text-center btn-success text-white" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                       
                      </form>

                    </div>
                  {% else %}
                  <form action="/product/#{{i.id}}" method="POST" class="btn-block p-0">
                    {% csrf_token %}
                  <input name="product" hidden type="text" value='{{i.id}}' />
                  <input type="submit"  class="btn  border-rounded bg-success border-opacity-75  rounded-5 shadow  w-100 text-white" name="cart" style="height:2rem;font-size: small;height: auto; "  value="Add to Cart" />
  
                  </form>
                    {% endif %}
                </div>
                
           </div>
          </div> 
          
           {% endfor %}
      </div>
      </div>
     </div>     
           
</div>  
<script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
{% endblock %}