<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/main.css">
    <title>Document</title>
</head>
<body>
    
         <div class="conatiner text-center">
            <div class="alert alert-success">
                PAYEMENT SUCCESS 
                <div class="btn">
                    <a href="localhost:8000" class="btn bg-warning text-white">BACK TO HOME</a>
                </div>
            </div>
         </div>

    <script src="../statics/js/main.js"></script>
</body>
</html>